adf-warehouse-prd/pipeline/PL_COPIATABLE_OLTP.json
{
	"name": "PL_COPIATABLE_OLTP",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Control Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Control Ingestion').output.value\n",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "EXECUTA COPYDATA",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_COPIADATA",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Schema": "@item().source_schema",
									"Table": "@item().source_table"
								}
							}
						}
					]
				}
			},
			{
				"name": "Control Ingestion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  [ID]\n      ,[active]\n      ,[source_schema]\n      ,[source_table]\n      ,[query]\n      ,[folder]\n      ,[file_name]\n  FROM [dbo].[control_ingestion]\nwhere active = 1\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Control_ingestor",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}